.framdrift {
    background-color: @navLysGra;
    position: relative;
    z-index: 10000;
    margin: 2rem 2rem 0 2rem;
    border-radius: 3rem;

    &:focus {
        outline: none;
    }

    .andel {
        height: 10px;
        border-radius: 3rem;
        background-color: @navDypBlaLighten60;
        transition: width ease-in-out 2s;
    }

    &.framdrift-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (min-width: @screen-sm-min) {
    .framdrift {
        margin: 2rem auto 0 auto;
        width: 680px;
    }
}
