.framdrift-wrapper {

    background-color: white;
    padding: 1.5rem;
    position: fixed;
    top: -2px;
    left: 0;
    right: 0;
    z-index: 10000;
}

.framdrift {
    background-color: @navLysGra;
    position: relative;
    z-index: 10000;
    margin: 1rem 2rem 0 2rem;
    border-radius: 3rem;

    &:focus {
        outline: none;
    }

    .andel {
        height: 10px;
        border-radius: 3rem;
        background-color: @navDypBlaLighten60;
        transition: width ease-in-out 2s;
    }

    &.framdrift-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (min-width: @screen-sm-min) {
    .framdrift {
        margin: 1rem auto 0 auto;
        width: 680px;
    }
}
