@import '../../../node_modules/nav-frontend-core/less/_variabler';
@import '../../../node_modules/nav-frontend-core/less/core';
.stepup {

    .tittel {
        margin-bottom: 2rem;
    }


    &__login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 5rem;

        .beskrivelse {
            margin-left: 10rem;
            margin-right: 10rem;
            margin-bottom: 3rem;
        }
    }

    &__hjelp {
        background-color: @navLysGra;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0;

        &__innhold {
            padding-top: 3rem;
            padding-bottom: 7rem;
        }

        &__kort {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .info-kort {
                width: 40%;
            }

        }
    }


}

@media (min-width: @screen-sm-min) {
    .stepup {
        padding: 0;
    }
}
