.oppsummering-ingress {
    text-align: center;
    .blokk-xl();
}

.oppsummering-tittel {
    text-align: center;
    .blokk-s();
}

.oppsummering-besvarelser {
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 5px;
    border: 3px solid @navBlaLighten80;
    position: relative;

    &__illustrasjon {
        position: absolute;
        top: -53px;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__list {
        padding-left: 1rem;
    }

    p {
        .blokk-s()
    }
}

@media (min-width: @screen-sm-min) {
    .oppsummering-ingress {
        max-width: 345px;
        margin-left: auto;
        margin-right: auto;
    }

    .oppsummering-besvarelser {
        padding: 4rem 9rem 1rem 9rem;
        max-width: 635px;
        margin-left: auto;
        margin-right: auto;
    }
}
