@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-lenker-style/src/lenker-mixins';

.feilhandtering {
    max-width: 35rem;
    margin: 0 auto;
    background-color: @white;

    a {
        .lenke-mixin();
    }

    .alertstripe__ikon {
        width: 5rem;
    }
}
