.avbryt-panel {
  border-top: 2px solid @navGra20;
  border-bottom: 2px solid @navGra20;
  padding: 2em;

}

.avbryt-fokus {
  background-color: @orangeFocus;
  padding: 2em;
  display: flex;
  align-items: center;
}