
div.forover {
    .tilbakelenke {
        animation: slideAhead 500ms;
    }
    .spm-hode {
        animation: slideAhead 500ms;
    }
    .spm-body, .spm-valg, .spm-info {
        animation: slideAhead 550ms;
    }
    .nestelenke, .lenke-avbryt-wrapper {
        animation: slideAhead 600ms;
    }

    .startside .lenke-avbryt-wrapper {
        animation: none;
    }

    .oppsummering-tittel, .oppsummering-ingress {
        animation: slideAhead 500ms;
    }
    .oppsummering-besvarelser {
        animation: slideAhead 550ms;
    }
    .oppsummering .knapper-vertikalt {
        animation: slideAhead 600ms;
    }

    .fullfor-tittel, .fullfor-ingress {
        animation: slideAhead 500ms;
    }
    .fullfor-liste-heading, .fullfor-liste, .fullfor-bekreft, .fullfor-info, .fullfor-sjekkliste {
        animation: slideAhead 550ms;
    }
    .fullfor .knapper-vertikalt {
        animation: slideAhead 600ms;
    }
}

div.bakover {
    .tilbakelenke {
        animation: slideBack 500ms;
    }
    .spm-hode {
        animation: slideBack 550ms;
    }
    .spm-body, .spm-valg, .spm-info {
        animation: slideBack 500ms;
    }
    .nestelenke, .lenke-avbryt-wrapper {
        animation: slideBack 500ms;
    }

    .startside .lenke-avbryt-wrapper {
        animation: none;
    }

    .oppsummering-tittel, .oppsummering-ingress {
        animation: slideBack 500ms;
    }
    .oppsummering-besvarelser {
        animation: slideBack 550ms;
    }
    .oppsummering .knapper-vertikalt {
        animation: slideBack 600ms;
    }

    .fullfor-tittel, .fullfor-ingress {
        animation: slideBack 500ms;
    }
    .fullfor-liste-heading, .fullfor-liste, .fullfor-bekreft, .fullfor-info, .fullfor-sjekkliste {
        animation: slideBack 550ms;
    }
    .fullfor .knapper-vertikalt {
        animation: slideBack 600ms;
    }
}

div.forover, div.bakover {
    .sporsmal.erIE, .sporsmal.tilbake.erIE {
        .tilbakelenke, .spm-hode, .spm-body, .spm-valg, .spm-info, .nestelenke, .lenke-avbryt-wrapper {
            animation: none;
        }
    }

    .fullfor.erIE, .fullfor.tilbake.erIE {
        .tilbakelenke, .fullfor-liste-heading, .fullfor-liste, .fullfor-bekreft, .fullfor-info, .fullfor-sjekkliste,
        .fullfor-tittel, .fullfor-ingress, .lenke-avbryt-wrapper, .knapper-vertikalt {
            animation: none;
        }
    }

    .oppsummering.erIE {
        .tilbakelenke, .oppsummering-tittel, .oppsummering-ingress, .oppsummering-besvarelser, .lenke-avbryt-wrapper, .knapper-vertikalt {
            animation: none;
        }
    }
}

div.bakover {
    z-index: 0;
    animation: slideBack 500ms;
}

@media (min-width: @screen-sm-min) {
    div.framover {
        z-index: 0;
        animation: slideAhead 500ms;
    }
}

