.limit.forover {
    .tilbakelenke {
        animation: slideUp 400ms;
    }
    .spm-hode {
        animation: slideUp 500ms;
    }
    .spm-skjema, .spm-valg, .spm-info {
        animation: slideUp 550ms;
    }
    .nestelenke, .lenke-avbryt-wrapper {
        animation: slideUp 600ms;
    }

    .startside .lenke-avbryt-wrapper {
        animation: none;
    }

    .oppsummering-tittel, .oppsummering-ingress {
        animation: slideUp 500ms;
    }
    .oppsummering-besvarelser {
        animation: slideUp 550ms;
    }
    .oppsummering .knapper-vertikalt {
        animation: slideUp 600ms;
    }

    .fullfor-tittel, .fullfor-ingress {
        animation: slideUp 500ms;
    }
    .fullfor-liste-heading, .fullfor-liste, .fullfor-bekreft, .fullfor-info, .fullfor-sjekkliste {
        animation: slideUp 550ms;
    }
    .fullfor .knapper-vertikalt {
        animation: slideUp 600ms;
    }
}

.limit.bakover {
    .tilbakelenke {
        animation: slideDown 600ms;
    }
    .spm-hode {
        animation: slideDown 550ms;
    }
    .spm-skjema, .spm-valg, .spm-info {
        animation: slideDown 500ms;
    }
    .nestelenke, .lenke-avbryt-wrapper {
        animation: slideDown 400ms;
    }

    .startside .lenke-avbryt-wrapper {
        animation: none;
    }

    .oppsummering-tittel, .oppsummering-ingress {
        animation: slideDown 500ms;
    }
    .oppsummering-besvarelser {
        animation: slideDown 550ms;
    }
    .oppsummering .knapper-vertikalt {
        animation: slideDown 600ms;
    }

    .fullfor-tittel, .fullfor-ingress {
        animation: slideDown 500ms;
    }
    .fullfor-liste-heading, .fullfor-liste, .fullfor-bekreft, .fullfor-info, .fullfor-sjekkliste {
        animation: slideDown 550ms;
    }
    .fullfor .knapper-vertikalt {
        animation: slideDown 600ms;
    }
}

.sporsmal.erIE, .sporsmal.tilbake.erIE {
    .tilbakelenke, .spm-hode, .spm-skjema, .spm-valg, .spm-info, .nestelenke, .lenke-avbryt-wrapper {
        animation: none;
    }
}

.oppsummering.erIE {
    .oppsummering-tittel, .oppsummering-ingress, .oppsummering-besvarelser, .knapper-vertikalt {
        animation: none;
    }
}
