.limit:focus {
    outline: 0;
}

.sporsmal {
    margin-top: 12vh;
    padding: 1rem 1.4rem;

    .spm-tittel {
        margin-bottom: 1.5rem;
        animation: slideUp 500ms both;
        text-align: center;
    }

    .spm-ingress {
        animation: slideUp 500ms both;
        text-align: center;
    }

    .form-skjema {
        animation: slideUp 550ms both;
        .alternativ-wrapper {
            margin: 0.5rem 0;
        }
    }

    .spm-info {
        animation: slideUp 550ms both;
        display: flex;
        color: @navMorkGra;
        .blokk-s();

        &__ikon {
            border-right: 1px solid @navGra40;
            margin-right: 0.75rem;
            padding-right: 0.75rem;
            width: 2.5rem;
            display: flex;
            flex-shrink: 0;
            align-items: center;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .sporsmal {
        margin-top: 9vh;

        &:focus {
            outline: 0;
        }

        .form-skjema {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .alternativ-wrapper {
                width: 48.2%;
                margin: 0.3rem;

                &--small {
                    width: 25%;
                }

                > .inputPanel {
                    height: 100%;
                }
            }
        }

        .spm-info {
            width: 354px;
            margin: 0 auto;
        }
    }
}

