@import "~nav-frontend-core/less/_variabler";

.ekspanderbartinfo {
  margin-bottom: 3rem;

  &__knapp {
    background-color: @white;
    border: none;
    padding: 0;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &__ikon {
    margin-right: 0.75rem;
  }

  &__innhold {
    padding: 1rem 0 0 2.3rem;
  }
}
