.startside {

    .limit {
        padding-top: 3rem;
    }

    &__banner {
        margin: 0 auto;
        padding: 0.65rem 0 1.5rem 0;
        background-color: @navDypBlaLighten80;
    }

    &__intro {
        position: relative;
        background-color: @white;
        margin: 0 1rem;
        border-radius: 10px;
        padding: 1rem 1.5rem 1rem;

        &:after {
            content: "";
            position: absolute;
            bottom: -13px;
            left: 65%;
            top: 80%;
            border-left: 10px solid transparent;
            border-right: 31px solid transparent;
            border-bottom: 64px solid #fff;
            transform: rotate(88deg);
        }

        &__ikon {
            display: block;
            margin: 5px auto -70px;
            width: 100px;
        }
    }

    &__innhold {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;
        text-align: center;

        .tittel {
            .blokk-xs();
        }
        .beskrivelse {
            .blokk-s();
        }

        .knapper-vertikalt {
            margin-top: 1rem;
        }
        .knapp-start {
            width: 8rem;
        }
        .lenke-avbryt-wrapper {
            margin-top: 1rem;
        }
    }
}

@media (min-width: 500px) {

    .startside {
        .limit {
            width: 479px;
        }

        &__intro {
            padding: 1rem 2.5rem 1rem;

            &:after {
                left: 59%;
                top: 74%;
            }
        }
    }
}
