.allerede-registrert {
  margin-top: 6vh;
  max-width: @screen-sm-min;

  &__tittel {
    text-align: center;
    .blokk-xxxs();
  }

  &__undertittel {
    text-align: center;
    .blokk-s();
  }

  &__knapp {
    text-align: center;
    width: 100%;
  }

  &__boks {
    margin-bottom: 16px;

    &-innhold {
      padding: 1.5rem 1.2rem;
      background-color: white;
    }

    &-tekst {
      .blokk-s();
    }
  }
}

@media(min-width: 425px) {
  .allerede-registrert {
    &__knapp {
      width: initial;
    }

    &__boks {
      margin-left: percentage(2/12);
      max-width: percentage(8/12);

      &-innhold {
        text-align: center;
      }
    }
  }
}

@media(min-width: @screen-sm-min) {
  .allerede-registrert {
    &__boks {
      margin: 0;
    }

    &__knapp {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}