.panel-blokk-overskrift-before {
  content: "";
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.panel-blokk-overskrift-after {
  border-bottom: 2px solid;
  content: '';
  margin-top: 2rem;
  width: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  color: @navLysBla;
}

.panel-blokk {
  padding-left: 14rem;
  padding-right: 14rem;

  &.padding-vertikalt-standard {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &.padding-vertikalt-small {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  &.padding-vertikalt-xsmall {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &.no-margin-padding-vertikalt {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.bla-variant {
    background-color: @navLysBlaLighten60;
    border-bottom: 2px solid @navLysBlaLighten20;
    border-radius: 0 ;
  }
  &.transparent-variant {
    background: transparent;
  }
  &.oransje-variant {
    background-color: @navOransjeLighten60;
  }
}

.panel-blokk-overskrift {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &::before {
    display: none;
    .panel-blokk-overskrift-before;
  }

  &::after {
    display: block;
    .panel-blokk-overskrift-after;
  }


  /*
  * ::before og ::after
  * med varianter av farger og type ikon
  *
  */
  &.bla-variant {
    // todo legg til ikonet her
    //&::before {
    //  background: url("svg/info-sirkel-bla.svg") no-repeat;
    //}
  }
  &.gronn-variant {
    &::after {
      color: @navGronnLighten60;
    }
  }
  &.rod-variant {
    &::before {
      background: url("svg/info-sirkel-rod.svg") no-repeat;
      background-position-x: center;
    }
    &::after {
      color: @navRod;
    }
  }
  &.oransje-variant {
    &::after {
      color: @navOransjeLighten60;
    }
  }

  &.oops-feilmelding-variant {
    &::before {
      background: url("svg/advarsel-sirkel-oransje.svg") no-repeat;
      background-position-x: center;
      display: block;
      .panel-blokk-overskrift-before;
    }

    &::after {
      color: @navOransje;
    }
  }
}

.panel-blokk-beskrivelse {
  text-align: center;
}

.panel-blokk__knapperad {
  text-align: center;
}

// Small screen / tablet
@media (max-width: @screen-sm-min) {
  .panel-blokk {
    padding: 2.5rem 3rem 2rem 3rem;
  }
}