@import "../../../node_modules/nav-frontend-core/less/_variabler";

.infoside--forste-rad {
    padding: 2rem;
    background-color: @navLysGra
}

.infoside--andre-rad {
    padding: 4rem 0;
}

.infoside-tilbake-full-stilling-container {
    border-radius: 5px;
    border: 3px solid @navBlaLighten80;

    &--divider {
        border: 2px solid @navBlaLighten80;
    }

}

.infoside--knapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;

    :nth-child(odd) {
        margin-right: 1rem;
        flex-grow: 1;
    }

    :nth-child(even) {
        margin-left: 1rem;
        flex-grow: 1;
    }

}
