@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
/*
@import '../node_modules/nav-frontend-knapper-style/src/index';
@import '../node_modules/nav-frontend-skjema-style/src/index';
@import '../node_modules/nav-frontend-paneler-style/src/index';
@import '../node_modules/nav-frontend-lukknapp-style/src/lukknapp-style';
@import '../node_modules/nav-frontend-alertstriper-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/index';
@import '../node_modules/nav-frontend-grid-style/src/index';
@import '../node_modules/nav-frontend-ekspanderbartpanel-style/src/index';
*/

@import './setup';
@import './sider/skjema-registrering/sideanimasjon';

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: @navLysGra;
}

*::-webkit-scrollbar-thumb {
    background: @navGra60;
    border-radius: 3px;
}

body {
    background-color: @white;
}

.arbsokreg_app:focus {
    outline: none;
    box-shadow: none;
}

.limit {
    position: relative;
    margin: 0 auto;

    &:focus {
        outline: 0;
    }
}

.hodefot {
    position: relative;
    z-index: 1;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}

.maincontent {
    min-height: 100vh;
}

@media (min-width: @screen-sm-min) {
    .pagewrapper {
        padding-bottom: 200px !important;
    }

    .limit {
        width: @desktopLimitWidth;
    }

    .sitefooter {
        display: block;
    }

    .lukknapp {
        border: 1px solid @navGra60;
        display: inline-block;
        position: relative;
        right: 5px;
    }
}
