.knapper-vertikalt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    z-index: -1;

    &.animasjon {
        animation: slideUp 600ms both;
    }

    > * {
        margin: 0.5rem 0;
    }
}
