name: Build, push, and deploy

on:
  push:
    branches:
      - cypress_bugfix

env:
  IMAGE_BASE: docker.pkg.github.com/${{ github.repository }}/arbeidssokerregistrering

jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          start: npm run start:cypress
          wait-on: http://localhost:3001
