@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-knapper-style/src/index';
@import '../node_modules/nav-frontend-skjema-style/src/index';
@import '../node_modules/nav-frontend-paneler-style/src/index';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-lukknapp-style/src/lukknapp-style';
@import '../node_modules/nav-frontend-alertstriper-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';


body {
    background-color: @navLysGra;
}


.innholdslaster-laster {
    text-align: center;
    margin-top: 2em;
}

main.arbsokreg_app:focus {
    outline: none;
    box-shadow: none;
}

main.arbsokreg_app {
    @import 'felles/utils';
    @import 'felles/panel-blokk';
    @import './innholdslaster/innholdslaster';

    @import './skjema/skjema';
    @import './oppsummering/oppsummering';
    @import './komponenter/input/datovelger/day-picker';


    @import './avbryt/avbryt';

    width: @screen-md-min;
    margin: 4em auto;

    @media (max-width: @screen-sm-min) {
        width: 100%
    }
}
.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}


